.DS_Store
*.log
*.tmp
**/node_modules/**
**/dist/**
.env
**/audio
/Str/
/books/
**analysis**
run.test.sh
run.prod.sh
**test**.sh
scripts/docker-compose.yml
.env
.pnpm-store/
.bin/
ffmpeg/
test.html.bak
/.npmrc